<div class="comment card mb-2">
  <div class="card-body">
    <div class="card-title">
      <span class="comment__author font-weight-bold"><%= comment.commenter %></span>
      <span class="comment__post-time text-right text-secondary pl-2">
        <time datetime="<%= comment.created_at %>">
          <%= localize(comment.created_at, format: :short) %>
        </time>
      </span>
    </div>
    <p class="comment__body card-text"><%= comment.body %></p>
    <div class="comment__controls">
      <%= link_to 'Delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: 'btn btn-sm btn-danger'
      %>
    </div>
  </div>
</div>