<%= form_with(model: [ @article, @article.comments.build ], local: true, class: 'comment-form') do |form| %>
  <div class="comment-form__commenter form-group">
    <%= form.label :commenter, "Author" %>
    <%= form.text_field :commenter, class: 'form-control' %>
  </div>

  <div class="comment-form__body form-group">
    <%= form.label :body, "Comment" %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-primary">Comment</button>
<% end %>