
<% if @article.errors.any? %>
  <div class="article-form__errors alert alert-danger" role="alert">
    <strong>Could not create new article</strong>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @article, local: true, class: 'article-form') do |form| %>
  <div class="article-form__title form-group">
    <%= form.label(:title) %>
    <%= form.text_field(:title, class: 'form-control') %>
  </div>

  <div class="article-form__text form-group">
    <%= form.label(:text, "Body") %><br>
    <%= form.text_area(:text, class: 'form-control') %>
  </div>

  <%= form.submit(class: 'btn btn-primary') %>
<% end %>
