<%= link_to 'Back', articles_path, { class: 'btn btn-outline-primary mb-3' } %>

<div class="article mb-3">
  <h1 class="article__title"><%= @article.title %></h1>

  <div class="article__post-time text-secondary mb-3">
    Posted
    <time datetime="<%= @article.created_at %>">
      <%= localize(@article.created_at, format: :short) %>
    </time>
  </div>

  <div class="article__controls btn-group mb-3" role="group">
    <%= link_to "Edit", edit_article_path(@article), { class: 'btn btn-sm btn-primary' } %>
    <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>


  <p class="article__body"><%= @article.text %></p>
</div>

<div class="mb-3">
  <h2>Comments (<%= @article.comments.length %>)</h2>
  <% if @article.comments.length == 0 %>
    <em>This article has no comments.</em>
  <% end %>

  <%= render @article.comments %>
</div>

<div class="mb-3">
  <h2>Add a comment</h2>

  <%= render 'comments/form' %>
</div>
